name: Sync

on:
  schedule:
    - cron: "0 16-23,0-7 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-slim
    concurrency: sync

    steps:
      - name: Checkout main branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - name: Install dependencies
        run: uv sync

      - name: Sync watchlist
        run: |
          uv run imdb-trakt-sync sync-watchlist
        env:
          TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
          TRAKT_ACCESS_TOKEN: ${{ secrets.TRAKT_ACCESS_TOKEN }}
          IMDB_WATCHLIST_URL: ${{ vars.IMDB_WATCHLIST_URL }}

      - name: Sync ratings
        run: |
          uv run imdb-trakt-sync sync-ratings
        env:
          TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
          TRAKT_ACCESS_TOKEN: ${{ secrets.TRAKT_ACCESS_TOKEN }}
          IMDB_RATINGS_URL: ${{ vars.IMDB_RATINGS_URL }}

      - name: Sync history
        run: |
          uv run imdb-trakt-sync sync-history
        env:
          TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
          TRAKT_ACCESS_TOKEN: ${{ secrets.TRAKT_ACCESS_TOKEN }}
          IMDB_RATINGS_URL: ${{ vars.IMDB_RATINGS_URL }}
